// Place all the styles related to the spree_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news-ticker {
  background: #D3D5BA;
  width: 290px;
  float: right;
  margin: 10px 8px 10px 10px;
  padding: 10px 10px 10px 10px;
}

#news-container {
  border: 1px solid #333333;
}

#news-container ul li div {
  border: 1px solid #aaaaaa;
  height: 75px;
  width: 280px;
  background: #EEE7DF;
  padding: 5px 5px 5px 5px;
}
