.news-ticker
  %center
    %u
      %h3 Latest News
  %p
  #news-container
    %ul
      - @posts.each do |post|
        %li
          %div
            %h6= post.created_at.strftime("%B %d, %Y")
            =h truncate(post.description, :length => 150)

:javascript
  $(function(){
    $('#news-container').vTicker({
      speed: 1000,
      pause: 4000,
      animation: 'fade',
      mousePause: true,
      showItems: 3
    });
  });
